@page "/"
@using Exercise16.Shared.Entities;
@inject ToastService toastService

@*<h1>Hello, data binding in Blazor!</h1>
<div>

    <h2>One way data binding</h2>
    Employee first name: <label>@Employee.FirstName</label>
    Employee last name: <label>@Employee.LastName</label>
</div>

<div>
    <h2>One way data binding on form controls</h2>
    Employee first name: 
    <input value="@Employee.FirstName"   />
    Employee last name: 
    <input value="@Employee.LastName" />
</div>

<div>
    <h2>Two way data binding</h2>
    Employee first name: 
    <input @bind="@Employee.FirstName" />
    Employee last name: 
    <input @bind="@Employee.LastName" />
</div>

<div>
    <h2>Two way data binding on a different event</h2>
    Employee first name: 
    <input @bind-value="@Employee.FirstName" @bind-value:event="oninput" />
    Employee last name: 
    <input @bind-value="@Employee.LastName" @bind-value:event="oninput" />
</div>

<div>
    <button @onclick="Button_Click">Click me</button>
</div>*@

@foreach (var widgetType in Widgets)
{
    <DynamicComponent Type="widgetType"></DynamicComponent>
}

<button class="btn btn-info" @onclick="@(() => toastService.ShowToast("I'm an INFO message", ToastLevel.Info))">Info Toast</button>
<button class="btn btn-success" @onclick="@(() => toastService.ShowToast("I'm a SUCCESS message", ToastLevel.Success))">Success Toast</button>
<button class="btn btn-warning" @onclick="@(() => toastService.ShowToast("I'm a WARNING message", ToastLevel.Warning))">Warning Toast</button>
<button class="btn btn-danger" @onclick="@(() => toastService.ShowToast("I'm an ERROR message", ToastLevel.Error))">Error Toast</button>